<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coversheet</title>
    <!-- Link CSS here for styling the PDF -->
    <style>
        body { font-family: Arial, sans-serif; text-align: center}
        .data { color: blue; }
    </style>
</head>
<body>
    <img alt="logo" src="initech.jpg" height="250" />

    <!--
    <h1>Invoice for Order #<span th:text="${orderId}">123</span></h1>
    <p>Customer Name: <span class="data" th:text="${customerName}">John Doe</span></p>
    -->
    <h1>T.P.S. REPORT</h1>
    <h2>C O V E R &nbsp; S H E E T</h2>

</body>

</html>